.section-title {
  width: 100%;

  .inner {
    width: fit-content;

    &.success {
      color: var(--text-color-contrast);

      &::after {
        background: var(--success-color);
      }
    }

    &::after {
      display: block;
      margin-top: 20px;
      content: "";
      height: 4px;
      width: 100%;
      background: var(--cta-color);
    }
  }
}
