.section-title {
  width: 100%;

  .inner {
    width: fit-content;
    display: flex;
    flex-direction: column;

    &.center {
      align-items: center;
    }

    &.success {
      color: var(--text-color-contrast);

      .line {
        background: var(--success-color);
      }
    }

    .line {
      display: block;
      margin-top: 20px;
      content: "";
      height: 4px;
      background: var(--cta-color);
    }
  }
}
