.app-logo {
  width: 165px;

  .ant-list-item-meta {
    align-items: center;
  }

  .ant-list-item-meta-title {
    font-weight: 700;
    font-size: 20px;
    line-height: 22px;
    color: var(--cta-color);
  }

  .ant-list-item-meta-content {
  }

  .ant-list-item-meta-description {
    margin-top: -3px;
    font-size: 12px;
    font-weight: normal;
    line-height: 22px;
    color: rgba(0, 0, 0, 0.6);
  }
}
