.layout {
  .ant-layout-header,
  .ant-layout-content {
    background: #fff !important;
  }

  .ant-layout-header {
    position: fixed;
    z-index: 99;
    width: 100vw;
  }

  .ant-layout-content {
    padding: 0 !important;
    margin-top: 64px;
  }

  .ant-layout-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px !important;
    height: 70px !important;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
  }

  .search-input {
    width: 300px;
    height: 40px;
    border-radius: 48px;

    .ant-input {
      margin-left: 10px;
    }
  }

  .ant-menu-horizontal {
    border: 0;
  }

  .ant-menu-item {
    font-weight: 700;

    &.logo-wrapper {
      border-bottom: 0 !important;

      .logo {
        margin-right: 50px;
      }
    }
  }

  .app-footer {
    padding: 60px 0 35px 0;
    background-color: #eeeeee !important;

    .left p {
      margin-top: 30px;
    }

    .right ul {
      list-style: none;
      padding-left: 0;
      margin-left: -12px;

      li {
        margin-top: 20px;

        span {
          margin-left: 15px;
        }
      }
    }

    .copyright {
      margin-top: 65px;
      text-align: center;
    }
  }
}
