.app-tag-input {
  .site-tag-plus {
    background: #fff;
    border-style: dashed;
  }
  .edit-tag {
    user-select: none;
  }
  .tag-input {
    width: 78px;
    margin-right: 8px;
    vertical-align: top;
  }

  .ant-tag {
    margin-bottom: 8px;
    background: #f5f5f5 !important;
  }
}
