.donation-modal {
  h3 {
    text-align: center;
    padding: 30px 0;
  }

  &__cash-input {
    padding: 20px;
    background: #f8f8f8;

    &__btn-submit {
      margin-left: 3px;
    }

    &__note {
      margin: 0;
      margin-top: 10px;
    }
  }

  &__packages {
    max-height: 350px;
    overflow: hidden;
    overflow-y: scroll;

    &__item {
      margin-top: 15px;
    }
  }
}
