@import "../../styles/mixin.scss";

.donation-modal {
    h3 {
        text-align: center;
        padding: 20px 0;
    }

    &__cash-input {
        padding: 20px;
        background: #f8f8f8;

        &__btn-submit {
            margin-left: 3px;
        }

        &__note {
            margin: 0;
            margin-top: 10px;
        }
    }

    &__divider {
        padding: 10px 0;
    }

    &__packages {
        max-height: 350px;
        padding-left: 2px;
        padding-right: 15px;
        overflow: auto;

        @include style-scrollbar();

        &__item {
            margin-top: 15px;
        }
    }
}
