.campaign-preview-carousel {
  .react-multi-carousel-list {
    padding-left: 20px;
    padding-bottom: 5px;
  }
  .react-multiple-carousel__arrow--left {
    left: 0 !important;
  }
  .react-multiple-carousel__arrow--right {
    right: 0 !important;
  }
}
