:root {
    --primary-color: #1890ff;
    --success-color: #52c41a;
    --cta-color: #ff6e29;
    --text-color-contrast: #fff;
}

$zaloBottom: 280px;
$zaloSize: 56px;

body {
    margin: 0;
    font-family: "Quicksand", sans-serif !important;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;

    &::-webkit-scrollbar {
        width: 10px !important;
    }

    &::-webkit-scrollbar-thumb {
        background-color: rgba($color: #000000, $alpha: 0.15) !important;
        border-radius: 48px !important;
    }
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

button {
    font-weight: 700 !important;
    text-transform: uppercase !important;
}

h1 {
    font-size: 44px;
}

h2 {
    font-size: 38px;
}

h3 {
    font-size: 30px;
}

h4 {
    font-size: 24px;
}

h5 {
    font-size: 20px;
}

h6 {
    font-size: 18px;
}

.eactc-main-component {
    position: fixed !important;
    z-index: 999 !important;
    top: 400px !important;
    right: 24px !important;
}

.fcta-zalo-mess {
    bottom: $zaloBottom !important;
    display: none !important;
}

.fcta-zalo-vi-tri-nut {
    right: 26px !important;
    bottom: $zaloBottom !important;
}

.fcta-zalo-nen-nut {
    width: $zaloSize !important;
    height: $zaloSize !important;
    background-color: var(--cta-color) !important;
}

.fcta-zalo-nen-nut::after,
.fcta-zalo-nen-nut::before {
    border-color: var(--cta-color) !important;
    background-color: rgba($color: #ff6e29, $alpha: 0.25) !important;
}

.ant-tag {
    padding: 4px 10px !important;
    font-weight: 700 !important;
    border: 0 !important;
    border-radius: 48px !important;
}

.ant-btn-link {
    padding: 0 !important;
}

.ant-drawer-title,
.ant-modal-title {
    font-weight: 700 !important;
}

.ant-form-item-label {
    font-weight: bold;
}
